<nav class="navbar navbar-header">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">MyFlaskApp</a>
          </div>
          <ul class="nav navbar-right">
            <li><a href="/">Single Article</a></li>
          </ul>
          <ul class="nav navbar-right">
            <li><a href="/articles">Multiple articles</a></li>
          </ul>
          <ul class="nav navbar-right">
            <li><a href="/classified">Articles List</a></li>
          </ul>
          <ul class="nav navbar-right">
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </nav>